.footer {
    padding: 40px 10px;
    background: url(/src/images/b18d5124d08c77a110323493464ff7ae.gif);
    font-family: var(--primary-font);
}

.footer .container-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-footer h2 {
    font-size: 2rem;
    letter-spacing: 1px;
}

.container-footer h3 {
    font-size: 1rem;
    font-weight: 200;
    letter-spacing: 1px;
    color: var(--neon-color);
    padding-top: 20px;
}