.home {
    padding: 40px 0;
    min-height: 86vh;
    margin: 0 auto;
    font-family: var(--secondary-font);
}

.home .container-home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding-top: 25px;
    gap: 10px;
}

.home .container-home:after {
    content: url(../images/seta-para-baixo\ \(2\).png);
    position: absolute;
    bottom: -50px;
    animation: downarrow 0.8s infinite alternate ease-in-out;
}

@-webkit-keyframes downarrow {
    0% { -webkit-transform: translateY(0); opacity: 0.4; } 
    100% { -webkit-transform: translateY(0.4em); opacity: 0.9; }
}

.home .container-home .img-perfil .picture-perfil {
    max-width: 250px;
    height: 240px;
    border-radius: 50%;
    padding: 1px;
    box-shadow: 0 0 5px #D4A5FF,
    0 0 10px #D4A5FF,
    0 0 20px #B45EFF,
    0 0 30px #B45EFF;
    transition: 0.3s ease-in-out;
}

.home .container-home .info-principal {
    position: relative;
}

.home .container-home .info-principal h1 {
    font-size: 3.5rem;
    letter-spacing: 1px;
    padding-top: 10px;
}

.home .container-home .info-principal p {
    font-size: 2rem;
    letter-spacing: 1px;
    text-align: center;
    padding: 10px 0;
    position: relative;
}

.home .container-home .info-principal p:before {
    content: '';
    position: absolute;
    bottom: -1px;
    width: 265px;
    height: 1px;
    background-color: var(--neon-color);
    box-shadow: 0 0 5px #D4A5FF,
    0 0 10px #D4A5FF,
    0 0 20px #B45EFF,
    0 0 30px #B45EFF;
}




