@media(max-width: 1280px) {
    .header {
        padding: var(--mobile-padding);
    }
}

@media(max-width: 900px) {
    .header .menu {
        display: block;
    }

    .header nav input:checked ~ul {
        display: block;
    }

    .header nav {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 1;
    }

    .header nav ul {
        display: none;
        background-color: var(--bg-color);
        border-radius: 20px;
    }

    .header nav li a {
        text-align: center;
        padding: 20px;
        display: block;
    }
}

@media(max-width: 900px) {
    .home {
        padding: var(--mobile-padding);
    }

    .home .container-home .img-perfil .picture-perfil {
        max-width: 210px;
        height: 200px;
    }

    .home .container-home .info-principal {
        flex: 0 0 1000%;
        max-width: 100%;
        text-align: center;
    }
}

@media(min-width: 1559px) {
    .home .container-home{
        height: 70vh;
    }
    .home .container-home .img-perfil .picture-perfil {
        max-width: 320px;
        height: 310px;
    }
}

@media(max-width: 900px) {
    .projects .projects-list {
        justify-content: center;
        align-items: center;
    }

    .projects .projects-list img {
        max-width: 250px;
    }
}

@media screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {
    .projects .projects-list {
        object-fit: cover;
    }
}
